@import url(../../@vivliostyle/theme-base/theme-all.css);
/* @import url(../../theme-base/theme-basic.css); */
/* @import url(../../theme-base/css/partial/page.css); */
/* @import url(../../theme-base/css/partial/utility-classes.css); */
@import url(../../theme-base/css/lib/prism/base.css);
@import url(../../theme-base/css/lib/prism/theme-prism.css);



@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');

/*
 * Import extra modules
 * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#prism-code-highlighting
 */
/* @import url(../@vivliostyle/theme-base/css/lib/prism/base.css); */
/* @import url(../@vivliostyle/theme-base/css/lib/prism/theme-okaidia.css); */

:root {
  /*
   * Customize styles about cross-reference of figure, table and citation
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#cross-reference
   */
  --vs-crossref--counter-style: upper-roman;
  --vs-crossref--marker-cite-content: target-counter(attr(href), cite) '.';

  /*
   * Customize styles about endnotes
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#cross-reference
   */
  --vs-endnote--call-font-size: 90%;
  --vs-endnote--section-ol-list-style-type: lower-latin;

  /*
   * Customize styles about footnotes
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#footnotes
   */
  --vs-footnote--call-content: '[' counter(footnote) ']';
  --vs-footnote--area-before-margin-inline: 0 80%;

  /*
   * Customize styles about paged media
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#page-layout
   */
  --vs-page--mbox-content-top-right-corner: counter(page);
  /* --vs-page--mbox-content-top-right: counter(page); */
  --vs-page--mbox-content-bottom-right: env(doc-title);

  /*
   * Customize styles about heading counters and section reference
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#section-references
   */
  --vs-section--marker-display: inline;
  --vs-section--call-content: 'Sec. ' target-counters(attr(href), sections, '.');

  /*
   * Customize styles about table of contents (TOC) pages
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#table-of-contents
   */
  --vs-toc--marker-margin-inline: 8rem;

  --vs-section--root-counter-reset: vs-counter-sections var(--vs-section--root-counter-sections, ) vs-counter-sec-h1 var(--vs-section--root-counter-sec-h1, );


  /*========================================
    スライド用カスタムテーマの設定
    ========================================*/

  --vs-page--size: 338.67mm 190.5mm;
  --vs-font-family: 'Zen Maru Gothic', sans-serif;
  --vs-font-size: 32px;


  --vs--h1-font-family: 'Zen Kaku Gothic New', serif;
  --vs--h1-font-size: 3.5em;
  --vs-section--h1-marker-content: none;

  --vs--h2-font-family: 'Zen Kaku Gothic New', serif;
  --vs--h2-font-size: 2.9em;
  --vs--h2-line-height: 1.5em;
  --vs-section--h2-marker-content: counter(vs-counter-doc) ".";


  --vs--h3-font-family: 'Zen Kaku Gothic New', serif;
  --vs--h3-font-size: 2.5em;
  --vs--h3-margin-block: 0.0em;
  --vs--h3-line-height: 1;
  --vs-section--h3-marker-content: none;

  --vs-theme--page-ref-call-color: #0d9d5a;
}

/*========================================
  画像の挿入
  ========================================*/

/*----------------------------------------
  1カラムスライド
  ----------------------------------------*/
section {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------
  2カラムスライド
  ----------------------------------------*/
section:has(h3.columns-2) {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  align-items: var(--vs-theme--section-align-items, start);
  justify-content: var(--vs-theme--section-justify-content);
  width: 100%;
}

section:has(h3.columns-2) p:has(img) {
  height: 100%;
  margin: 0;
}

/*----------------------------------------
  3カラムスライド
  ----------------------------------------*/
section:has(h3.columns-3) {
  display: grid;
  column-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  align-items: var(--vs-theme--section-align-items, start);
  justify-content: var(--vs-theme--section-justify-content, start);
  width: 100%;
}

/*----------------------------------------
  カラム内にある画像
  ----------------------------------------*/
section:has(h3.columns-3)>p:has(img),
section:has(h3.columns-2)>p:has(img) {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:has(h3.columns-3)>p:has(img)>img,
section:has(h3.columns-2)>p:has(img)>img {
  height: 80%;
  max-height: calc((100vh - 3em) * 0.8);
  margin: 0;
  /* max-width: ; */
  object-fit: contain;
}

/*----------------------------------------
  左に画像を挿入するスライド
  ----------------------------------------*/

/* 画像のみ */
section:has(h3.image-left) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-content: start;
}

section:has(h3.image-left)>p:has(img) {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

section:has(h3.image-left)>p>img {
  height: 80%;
  max-height: calc((100vh - 3em) * 0.8);
  margin: 0 2em;
  /* max-width: ; */
  object-fit: contain;
}

/* キャプションあり */
/* 細かい調整ができていない */
section:has(h3.image-left)>figure {
  height: 100%;
  margin: 0 2em 0 0;
  display: flex;
  align-items: center;
}

section:has(h3.image-left)>figure>img {
  height: 70%;
  margin: 0;
  /* max-width: ; */
  object-fit: contain;
}

section:has(h3.image-left)>figure>img>figcaption {
  height: 10%;
  margin: 0;
  padding: 0.5em;
}

/*----------------------------------------
    右に画像を挿入するスライド
  ----------------------------------------*/

/* 画像のみ */
section:has(h3.image-right) {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-content: start;
}

section:has(h3.image-right)>p:has(img) {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

section:has(h3.image-right)>p>img {
  height: 90%;
  max-height: calc((100vh - 3em) * 0.8);
  margin: 0 2em;
  max-width: 40vw;
  object-fit: contain;
}

/* キャプションあり */
/* 細かい調整ができていない */
section:has(h3.image-right)>figure {
  height: 100%;
  margin: 0 2em 0 0;
  display: flex;
  align-items: center;
}

section:has(h3.image-right)>figure>img {
  height: 70%;
  max-height: calc((100vh - 3em) * 0.8);
  margin: 0;
  max-width: 45vw;
  object-fit: contain;
}

section:has(h3.image-right)>figure>img>figcaption {
  height: 10%;
  margin: 0;
  padding: 0.5em;
}

/*========================================
  theme-slide を使用
  ========================================*/

section>*:not(:last-child) {
  margin-block-end: 0;
}

@media print {

  section:first-child,
  :not(:is(h1, h2, h3, h4, h5, h6))+section {
    break-before: page;
    height: 100vh;
  }
}

@media screen {

  section:first-child,
  :not(:is(h1, h2, h3, h4, h5, h6))+section {
    padding: 0 max(calc(50vw - var(--vs-theme--max-inline-size-on-screen) * 0.5),
        var(--vs-spacing-inline-indent));
  }
}

p {
  break-inside: avoid;
}

section>hr {
  align-self: stretch;
}

blockquote::before {
  color: var(--vs-theme--blockquote-mark-color);
  content: '❝';
  float: left;
  font-size: 250%;
  margin-left: -0.83em;
  margin-top: -0.25em;
}

thead,
tfoot {
  background: var(--vs-theme--table-heading-color-bg);
}

a[href^='#'] {
  color: var(--vs-theme--page-ref-call-color);
  --vs--anchor-text-decoration: none;
}

a[href^='#']::after {
  content: var(--vs-theme--page-ref-call-content);
}

@media screen {
  a[href^='#']::after {
    content: '(p.XXX)';
  }
}

/*========================================
  h1 (表紙の設定)
  ========================================*/

section:has(h1) {
  align-items: var(--vs-theme--slide-cover-align-items, center);
  justify-content: var(--vs-theme--slide-cover-justify-content, center);
  page: slide-cover;
  color: var(--vs-theme--slide-cover-font-color, #ffffff);
  text-align: center;
}

section:has(h1) ul {
  font-size: var(--vs-theme--slide-cover-author-font-size, 0.8em);
  padding: 0;
}

@page slide-cover {
  --vs-page--mbox-content-bottom-right: none;
  --vs-page--mbox-content-top-right-corner: none;
  background-color: var(--vs-theme--slide-cover-bg-color, #1c3177);

  /* slide-cover という名前のついたセクションで、vs-counter-doc を0にリセットする */
  /* 参考：https://github.com/vivliostyle/themes/pull/133/files#diff-8276dd216bbd5cad79c52183c86a497b6fc4f8e8c8119d44be5902fe8eec6af3R477 */
  --vs-page--doc-counter-increment: vs-counter-doc 0;

  /* 現在のchapterのタイトルを表示しない */
}

/* 著者名 */
h1+ul>li {
  list-style: none;
  font-size: var(--vs-theme--author-font-size, 2em);
  font-family: var(--vs-theme--author-font-family, 'Zen Maru Gothic', sans-serif);
  padding-left: none;
}


/*========================================
  h2 (chapter coverの設定)
  ========================================*/

/* h2 の位置の設定 */
section:has(h2) {
  align-items: var(--vs-theme--chapter-cover-align-items, left);
  justify-content: var(--vs-theme--chapter-cover-justify-content, center);
  page: chapter-cover;
}

/* h2 のフォントの設定 */
h2 {
  color: #1c3177;
  border-bottom: #7f96c2 10px solid;
}


@page chapter-cover {
  --vs-page--mbox-content-bottom-right: none;
  --vs-page--mbox-content-top-right-corner: none;
}

/*========================================
  h3 スライドタイトルの設定
  ========================================*/
h3 {
  padding-block-start: var(--vs-theme--h3-padding-block-start, 0.4em);
  grid-column-start: 1;
  grid-column-end: -1;
}

/* :root { */
/* --vs-document-first-page-counter-increment: vs-counter-sec-h2; */
/* counter-increment: vs-counter-sec-h2; */
/* } */

/* @page :nth(1) {
  counter-increment: vs-counter-sec-h2;
} */

@page {
  @top-right-corner {
    text-align: center;
  }

  @bottom-right {
    text-align: end;
  }
}

/*========================================
  注釈
  ========================================*/

/* 脚注の自動生成された脚注表記を非表示にする */
/* 脚注番号は、脚注の内容の前に付与される。 */
@media print {

  /* URL に対して自動生成された脚注表記を非表示にする */
  :not(.footnote)>a[href^="http"]::before {
    display: none;
  }

  :not(.footnote)>a[href^="http"]::after {
    /* URL の後ろに付与された脚注番号を非表示にする */
    display: none;
  }
}

/*========================================
  コードブロック
  ========================================*/
:root {
  --vs-prism--inline-code-padding: 0.3em;
}

/* コードブロックの見出し */
figure[class*="language-"]>figcaption {
  font-size: 110%;
  line-height: 1.4em;
  border: #888 1px solid;
  color: #fff;
  background-color: #888;
  /* border-bottom: none; */
  text-align: left;
  margin: 0 auto 0 0;
  /* border-radius: var(--vs-prism--block-code-border-radius) var(--vs-prism--block-code-border-radius) 0 0; */
  padding: 0.3em 1.5em 0.1em;
  font-family: var(--vs--monospace-font-family);
}

/* コードブロック */
pre[class*="language-"] {
  padding-block: 0;
  padding-inline-start: 0.3em;
  background-color: #fff;
  background-image: linear-gradient(#efefef6e 50%, #fff 50%);
  line-height: 1.5em;
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  width: 100%;
  border: 1px solid #888;
  border-radius: 0;
}

/* 見出し付きのコードブロック */
figcaption+pre[class*="language-"] {
  /* border-radius: 0 var(--vs-prism--block-code-border-radius) var(--vs-prism--block-code-border-radius) var(--vs-prism--block-code-border-radius); */
  margin-block: 0;
}

/* インラインコード */
:not(pre)>code {
  border: 1px solid #888;
  margin-inline: 0.2em;
  padding-block: 0;
}