@import url(../../@vivliostyle/theme-base/theme-all.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap');

/*
 * Import extra modules
 * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#prism-code-highlighting
 */
/* @import url(../@vivliostyle/theme-base/css/lib/prism/base.css); */
/* @import url(../@vivliostyle/theme-base/css/lib/prism/theme-okaidia.css); */

:root {
  /*
   * Customize styles about cross-reference of figure, table and citation
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#cross-reference
   */
  --vs-crossref--counter-style: upper-roman;
  --vs-crossref--marker-cite-content: target-counter(attr(href), cite) '.';

  /*
   * Customize styles about endnotes
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#cross-reference
   */
  --vs-endnote--call-font-size: 90%;
  --vs-endnote--section-ol-list-style-type: lower-latin;

  /*
   * Customize styles about footnotes
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#footnotes
   */
  --vs-footnote--call-content: '[' counter(footnote) ']';
  --vs-footnote--area-before-margin-inline: 0 80%;

  /*
   * Customize styles about paged media
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#page-layout
   */
  --vs-page--mbox-content-top-right: counter(page);
  --vs-page--mbox-content-top-left: env(doc-title);

  /*
   * Customize styles about heading counters and section reference
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#section-references
   */
  --vs-section--marker-display: inline;
  --vs-section--call-content: 'Sec. ' target-counters(attr(href), sections, '.');

  /*
   * Customize styles about table of contents (TOC) pages
   * https://github.com/vivliostyle/themes/tree/main/packages/%40vivliostyle/theme-base#table-of-contents
   */
  --vs-toc--marker-margin-inline: 8rem;

  --vs-section--root-counter-reset: vs-counter-sections var(--vs-section--root-counter-sections, ) vs-counter-sec-h1 var(--vs-section--root-counter-sec-h1, );


  /*========================================
    スライド用カスタムテーマの設定
    ========================================*/

  --vs-page--size: 338.67mm 190.5mm;
  --vs-font-family: 'Zen Maru Gothic', sans-serif;
  --vs-font-size: 29px;


  --vs--h2-font-family: 'Zen Kaku Gothic New', serif;
  --vs--h2-font-size: 3.5em;
  --vs--h2-break-after: page;


  --vs--h3-font-family: 'Zen Kaku Gothic New', serif;
  --vs--h3-font-size: 2.5em;
  --vs--h3-margin-block: 0.2em;
  --vs--h3-line-height: 1;
  --vs-section--h3-marker-content: none;
}

section:has(h2) {
  page: chapter-first;
  justify-content: center;
  /* display: flex; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* section:has(h2)>h2 { */
/* flex: 1 1 auto; */
/* display: flex; */
/* flex-direction: column; */
/* margin-top: var(--vs-theme--section-heading-margin-top, auto);
  margin-bottom: var(--vs-theme--section-heading-margin-bottom, auto); */
/* } */

@page chapter-first {
  /* height: 100vh; */
}

section:first-child,
:not(:is(h1, h2, h3, h4, h5, h6))+section {
  break-before: page;
  height: 100vh;
}